@page




@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is a ERP.net demo application.</p>
        <p>The home page does not require authorized access.</p>
        <p>
            Clik <a asp-area="" asp-page="/Products">Products</a> to load 10 products from Domain API
        </p>
    </div>
